<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jasstaxi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JaSSTaXi"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.Verify"></activity>
        <activity
            android:name=".ui.AsosiyQism"
            android:screenOrientation="portrait" />
        <activity
            android:name=".models.Malumotlar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TarxiBuyurtma"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Buyurtma"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CityOyna"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.payNet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TaksoMetr"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterOyna"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BoshOyna"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>